
/* Instant game plugin stylesheet */

.game-error {
  background: rgba(255, 0, 0, 0.125);
  color: #ff0000;
  font-style: italic;
  padding: 0 2px;
}

.game-root {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  width: 320px;
  height: 240px;
  padding: 2px;
}
.game-header, .player-header {
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: baseline;
  align-items: baseline;
  white-space: pre;
}
.game-header {
  margin-bottom: 1px;
  border-bottom: 1px solid #808080;
  padding-bottom: 1px;
}
.player-header {
  -webkit-flex-basis: 0;
  -webkit-flex-grow: 1;
  flex-basis: 0;
  flex-grow: 1;
}
.game-header .nick {
  white-space: pre;
  overflow: hidden;
  text-overflow: ellipsis;
}
.game-header .score {
  font-weight: bold;
}
.game-header .score-0, .game-header .score-1 {
  -webkit-flex-grow: 1;
  -webkit-flex-shrink: 0;
  flex-grow: 1;
  flex-shrink: 0;
}
.game-header .score-0 {
  text-align: right;
}
.game-header .score-1 {
  text-align: left;
}
.game-root.default-turn-inidcators .game-header .turn-indicator {
  display: block;
  width: 0.75em;
  height: 0.75em;
  border-radius: 50%;
  background: black;
  margin: 0 1px;
  -webkit-align-self: center;
  align-self: center;
}
.game-root:not([data-turn="0"]) .game-header .turn-indicator-0,
.game-root:not([data-turn="1"]) .game-header .turn-indicator-1 {
  opacity: 0.5;
}
.game-root[data-turn="0"] .game-header .name-0,
.game-root[data-turn="1"] .game-header .name-1 {
  font-weight: bold;
}
.game-body {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -webkit-align-items: center;
  -webkit-justify-content: center;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}

.game-root-popCont .game-body {
  -webkit-flex-direction: row;
  -webkit-align-items: stretch;
  flex-direction: row;
  align-items: stretch;
}
.game-root-popCont .column {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  -webkit-flex: 1 0px;
  flex: 1 0px;
}
.game-root-popCont hr {
  -webkit-align-self: stretch;
  align-self: stretch;
  margin: 0 2px;
  border: none;
  border-left: 1px solid gray;
}
.game-root-popCont .header {
  font-style: italic;
}
.game-root-popCont .header-0 {
  text-align: left;
}
.game-root-popCont .header-1 {
  text-align: right;
}
.game-root-popCont .proposal {
  -webkit-flex: 1 0px;
  flex: 1 0px;
  margin: 2px 0;
  overflow: auto;
}
.game-root-popCont textarea {
  resize: none;
  border: none;
  box-shadow: 0 0 2px #808080;
  font: inherit;
}
.game-root-popCont button, .game-root-popCont .button-row {
  -webkit-align-self: center;
  align-self: center;
}

.game-root-tictactoe .game-header img {
  height: 1em;
  -webkit-align-self: center;
  align-self: center;
}
.game-root-tictactoe .filler {
  -webkit-flex: 1 0px;
  flex: 1 0px;
}
.game-root-tictactoe table {
  border-collapse: collapse;
  border-style: hidden;
}
.game-root-tictactoe td {
  border: 1px solid black;
  width: 3em;
  height: 3em;
}
.game-root-tictactoe td button {
  display: block;
  width: 100%;
  height: 100%;
}
.game-root-tictactoe td img {
  display: none;
}
.game-root-tictactoe td:not([data-filled]) {
  opacity: 0.5;
}
.game-root-tictactoe[data-turn="0"] table.is-crosses td:not([data-filled]) button:hover img.cross,
.game-root-tictactoe[data-turn="0"] table.is-crosses td:not([data-filled]) button:focus img.cross,
.game-root-tictactoe[data-turn="1"] table.is-noughts td:not([data-filled]) button:hover img.nought,
.game-root-tictactoe[data-turn="1"] table.is-noughts td:not([data-filled]) button:focus img.nought,
.game-root-tictactoe td[data-filled=x] img.cross,
.game-root-tictactoe td[data-filled=o] img.nought {
  display: block;
}
.game-root-tictactoe td.no-highlight img {
  opacity: 0.666;
}
.game-root-tictactoe .another-game {
  margin-top: 0.5em;
}
.game-root-tictactoe .another-game[disabled] {
  border-color: #808080;
}
