
/* Instant meme plugin stylesheet */

.meme-creator {
  border-spacing: 2px;
}

.meme-creator .wide-column {
  width: 100%;
}

.meme-creator .no-wrap {
  white-space: pre;
}

.meme-creator .enabler {
  margin-right: 0.5ch;
}

.meme-creator input[type=text], .meme-creator select {
  box-sizing: border-box;
  width: 100%;
  /* Override quite specific catch-all rule */
  -webkit-transition: initial !important;
  transition: initial !important;
}
