
/* Instant video chat plugin stylesheet */

.user-list .nick-box > .nick.highlight {
  font-weight: bold;
}

.video-preview:not(:empty) {
  text-align: center;
  margin-top: 5px;
}
.video-preview video, .popup.remote-video video {
  max-width: 100%;
  max-height: 10em;
  background: #101010;
}

.video-config:not(.has-preview) .hide-preview,
.video-config.has-preview .show-preview,
.video-config:not(.is-sharing) .update-sharing,
.video-config:not(.is-sharing) .stop-sharing,
.video-config.is-sharing .start-sharing {
  display: none;
}
.video-config.has-preview .hide-preview {
  margin-left: 0;
}

.user-list .nick-box:not(.has-video) > .user-list-menu .action-show-video,
.user-list .nick-box:not(.has-p2p-chat) > .user-list-menu .action-p2p-chat {
  display: none;
}

.p2p-chat-popup .message-pane {
  width: auto;
  overflow-y: auto;
  margin: -5px;
}

.p2p-chat-popup .input-bar {
  margin-bottom: 0;
}
.p2p-chat-popup .input-nick-cell {
  display: -webkit-flex;
  display: flex;
}
.p2p-chat-popup .input-nick-cell .nick {
  white-space: nowrap;
}
